@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<httpCookies httpOnlyCookies="true" requireSSL="true" />
<div id="main">
    <h1>Error</h1>
    <p>There was a runtimme error in the previous action.</p>
</div>