@model WebApplication1.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<httpCookies httpOnlyCookies="true" requireSSL="true" />
<div id="main">
    <section class="post">
        <header class="major">
            <h1>Add Comment</h1>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="fields">
                    <div class="field">
                        <label asp-for="PostId" class="control-label"></label>
                        <input asp-for="PostId" class="form-control" style="background-color: #c2ccd6" disabled/>
                    </div>
                    <div class="field">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="form-control" rows="10" style="background-color: #c2ccd6"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                    <div class="field">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </header>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
