@{
    ViewData["Title"] = "About";
}
<httpCookies httpOnlyCookies="true" requireSSL="true" />
<div id="main">
    <h1>About this website</h1>
    <p>This website is a blog. You must log in to view the blog.</p>
</div>
